{% extends 'base.html' %}{% block head %}
<link href="{{ url_for('static', filename='styles/404.css') }}" rel="stylesheet">{% endblock %} {% block content %}


<body>
    <div class="error-message-container">
        <div class="row error-message">
            <h2 class="error-heading ">404!!</h2>
            <h3 class="error-heading ">Oh no!
                <br> Doesn 't look like there are any homes here!</h3>
            <a class="error-button" href="{{ url_for('main.landingPage ') }}">home</a>
        </div>
    </div>
</body>

{% endblock %}