<!-- Extends base.html and shows "500, that's a server error. Something went wrong" -->
<!-- Include button to get back to homepage -->
{% extends 'base.html' %} {% block content %}

<body>
    <div class="error-message-container">
        <div class="row error-message">
            <h2 class="error-heading ">505! Oops! Server Error</h2>
            <h3 class="error-heading ">Let’s take you home!</h3>
            <button class="error-button ">back to homepage</button>
        </div>
    </div>
</body>
{% endblock %}