{% extends 'base.html' %}{% block head %}
<link href="{{ url_for('static', filename='styles/500.css') }}" rel="stylesheet">{% endblock %} {% block content %}
<body>
    <div class="error-message-container">
        <div class="row error-message">
            <h2 class="error-heading ">500! Oops! Server Error</h2>
            <h3 class="error-heading ">Let’s take you <a style="text-decoration: none;" href="{{ url_for('main.landingPage') }}">Home!</a></h3>
            
        </div>
    </div>
</body>
{% endblock %}