{% extends 'base.html' %} {% block content %} {% include 'modal.html' %} {% include 'navbar.html' %}
<div class="aboutHoyaContainer">
    <div class="parallax">
        <div class="missionStatement">
            <div class="missionStatementContainer">
                <div class="container-fluid HoyaJumbo">
                    <div class="jumbotron p-3 hoya-jumbo">
                        <p class="lead"> If you are looking for a new home, selling your current home or just want to browse great deals... Hoya is perfect for you. and better. With our price prediction model (aka. the Hoya Price Tool) you know you will be getting the
                            best deal on your current house, and your new one!<a data-toggle="modal" data-target="#addHouse" role="button"> Try the Hoya Price Tool today!</a>
                        </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Hoya Leaflets!</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{{ url_for('static', filename='4.jpg') }}" alt="Samuel Madrigal, developer"></p>
                                    <h4 class="card-title">Samuel Madrigal</h4>
                                    <p class="card-text">Back End Lead</p>
                                    <a class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Hoya!</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{{ url_for('static', filename='Jordant.jpg') }}" alt="Jordan Torres, developer"></p>
                                    <h4 class="card-title">Jordan Torres</h4>
                                    <p class="card-text">Git Master</p>
                                    <a class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Hoya!</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{{ url_for('static', filename='4.jpg') }}" alt="Jose Salazar, developer"></p>
                                    <h4 class="card-title">Jose Salazar</h4>
                                    <p class="card-text">Design Lead</p>
                                    <a class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Hoya!</h4>
                                    <p class="card-text">You? You don't have long to live...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{{ url_for('static', filename='6.jpg') }}" alt="Joshua Riley, developer"></p>
                                    <h4 class="card-title">Joshua Riley</h4>
                                    <p class="card-text">Front End Lead</p>
                                    <a class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Hoya!</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{{ url_for('static', filename='Sid.jpg') }}" alt="Sid Arcidiacono, developer"></p>
                                    <h4 class="card-title">Sid Arcidiacono</h4>
                                    <p class="card-text">Scrum Master</p>
                                    <a class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Hoya!</h4>
                                    <p class="card-text">Sid is a back end developer and machine learning engineer, dedicated to developing innovative solutions to complex problems.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMQCTLHLWmBrobpFTsbP5Dwmc_P0hpTTmyXSKKHzUe1jGp84qwgh-XcqRySA&usqp=CAc" alt="card image"></p>
                                    <h4 class="card-title">Daniel</h4>
                                    <p class="card-text">Customer Care</p>
                                    <a class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Hoya!</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of Team member -->
        </div>
    </div>
</section>
<div class="row story-container">
    <div class="story">
        <h1>Our Story</h1>
        <p>We considered what value we could bring to the world. We created something that would benefit people. Covid-19 presented a new way to look for a house to buy, sell, or browse. That is why we made Hoya.
            <br> Hoya is an app for people made by people who are determined to give you the best market value with the help of our price prediction model.<br> Our talented team of developers at Hoya have made the home buying experience easier to navigate
            with the goal of you finding a home. In a few clicks you may find out just how much that dust collecting studio is worth.<br> Not looking to sell? You can view listings of homes in your area, or anywhere around the globe.<br>Hoya has your
            dream home!
        </p>
        <button class="story-button">find it!</button>
    </div>
</div>

{% include 'footer.html' %} {%endblock%}
