{% extends 'base.html' %} {% block head%}
<link href="{{ url_for('static', filename='styles/landing.css') }}" rel="stylesheet"> {% endblock %}{% block content %} {% include 'modal.html' %}
<div class="landing">
    <div class="row">
        {% include 'navbar.html' %}
    </div>
    <div class="HoyaIntro">
        <div class="row hoya-landing-row">
                <div class="row InfoIntro">
                    <div class="row info">
                        <div class="info_box">
                            <h2 class="InfoHeader">Hoya offers a unique experience for developers, by providing the best real estate prices.</h2>
                            <div class="row info-button-row">
                                <button class=" info-button" data-toggle="modal" style="text-decoration:none; outline: none;" data-target="#addHouse">Try Hoya Today!</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
        </div>
    </div>
</div>
{% include 'footer.html' %} {% endblock %}
