{% extends 'base.html' %} {% block content %} {% include 'modal.html' %}
<div>
    {% include 'navbar.html' %}


    <div class=" top-search container-fluid g-0">
        <div class="search-container">
            <form action="{{ url_for('main.listingsPage') }}" method="POST">
                <input class=" search-bar" type="text" name="city" placeholder="City" name="search">
            </form>
            <p class="or"> OR </p>
            <form action="{{ url_for('main.listingsPage') }}" method="POST">
                <input class="search-bar" type="text" name="stateCode" placeholder="State" name="search">
                <button class="search-button" type="submit">Go!</button>
            </form>
        </div>
    </div>

    <div class="container-fluid HoyaContent ">

        <div class="card-container">
            {% for listing in listings %}
            <div class="container listing-con mr-auto ml-auto ">
                <div class="row listing-card d-flex justify-content-center g-0 ">
                    <div class=" card-content">
                        <h4 class="card-header p-3 mb-3"></h4>
                        <h5>{{ listing.numBedrooms }} bedrooms</h5>
                        <hr>
                        <h5>{{ listing.sqFootage }} Sq Ft</h5>
                        <hr>
                        <h6>{{ listing.address.city }}, {{ listing.address.state }}, {{ listing.address.zip }}</h6>
                        <hr>
                        <div class="list-button"> Learn More!
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
        {% include 'footer.html' %}

    </div> {% endblock %}