{% extends 'base.html' %}{% block head %}
<link href="{{ url_for('static', filename='styles/listings.css') }}" rel="stylesheet">{% endblock %} {% block content %} {% include 'modal.html' %}
<div>
    {% include 'navbar.html' %}
    <div class="container-fluid HoyaContent ">
        <div class="card-container">
            {% for listing in listings %}
            <div class="container listing-con mr-auto ml-auto mt-4 ">
                <div class="row listing-card d-flex justify-content-center g-0 ">
                    <div class="predict-card-container">
                        <img class="round logo-icon" src="{{ url_for('static', filename='HoyaSquare.jpg')}}" alt="Hoya logo" />
                        <h4>Hoya Estimate: {{ listing.price }}</h4>
                        <div class="house-detail">
                            <h6>House Details</h6>
                            <ul>
                                <li>Bedrooms: {{ listing.numBedrooms }}</li>
                                <li>Bathrooms: {{ listing.numBathrooms }}</li>
                                <li>Sq Ft: {{ listing.sqFootage }}</li>
                                <li>City: {{ listing.address.city }}</li>
                                <li>State: {{ listing.address.state }}</li>
                                <li>Zip: {{ listing.address.zip }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% include 'footer.html' %}
    </div> {% endblock %}
