.form>.modal {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.158);
    display: flex;
    justify-content: space-between;
}

.contactContainer {
    padding: 20%;
    background-image: url("https://images.unsplash.com/photo-1466692476868-aef1dfb1e735?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3150&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactInfoHeader {
    height: 600px;
    width: 600px;
    padding: 30px 20px 50px 20px;
    border-radius: 145% 0 145% 165%;
    transform: rotate(-45deg);
    transform-origin: center;
    background-color: rgba(0, 0, 0, 0.13);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 10%;
}

.straightened-form {
    height: 70%;
    width: 70%;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5em;
}

.straightened-form h1 {
    font-size: 40px;
}

#contact-us {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-us button {
    font-size: 1em;
    margin-top: 5%;
    border: thin;
}

#contact-us input {
    background-color: rgba(80, 139, 46, 0.555);
}