footer {
    background-color: transparent;
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.205);
}

.footer-link-container a {
    font-weight: 700;
    font-size: 2vh;
    text-decoration: none;
    background-color: transparent;
    color: #F4FCEF;
}

.footer-link-container a:hover {
    color: rgb(135, 211, 229);
}

@media only screen and (max-width : 414px) {
    .footer-link-container {
        background-color: #22351B;
    }
}