.landing {
    background-image: url("https://images.unsplash.com/photo-1524508762098-fd966ffb6ef9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.HoyaIntro {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.075);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hoya-landing-row {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.075);
}

.InfoIntro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    width: 50vw;
}


.info_box {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: right;
    flex-direction: column;
    padding-left: 10%;
}

.InfoHeader {
    width: 50%;
    font-size: 5vh;
    text-align: left;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #F4FCEF;
}

.info-button-row {
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
    border-style: none;
    height: 5vh;
    width: 7vw;
    font-size: 1.5vw;
    border-radius: 5px;
    transition-duration: 0.4s;
    background-color: #30CB00;
    margin: .5%;
    font-weight: 400;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.637), 0 8.5px 25px 0 rgba(0, 0, 0, 0.19);
}

.info-button:hover {
    transition-duration: 0.4s;
    font-weight: 500;
    background-color: #3FEF0B;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.637), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width : 414px) {
    .HoyaIntro {
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .InfoHeader {
        font-size: 3vh;
    }
    .info-button-row {
        width: 50%;
        padding-left: 2.5%;
    }
    .info-button {
        font-size: 2vh;
    }
}