.navbar {
    outline: none;
    text-decoration: none;
    height: min-content;
    position: fixed;
}

.navbar-brand-logo {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border-style: none;
    outline: none;
    background: #7D9870;
    text-decoration: none;
    transition-duration: 0.4s;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.637), 0 8.5px 25px 0 rgba(0, 0, 0, 0.19);
}

.nav-links {
    display: flex;
    flex-direction: row-reverse;
    width: 60vw;
}


a:hover {
    color: #87d3e5;
}

.navbar-btn {
    background-color: #4CAF50;
    border-radius: 5px;
    border-style: none;
    height: 60px;
    width: 120px;
    transition-duration: 0.4s;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.637), 0 8.5px 25px 0 rgba(0, 0, 0, 0.19);
}

.navbar-btn:hover {
    background-color: #87D3E5;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.637), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn-primary {
}

.btn-outline-secondary {
    margin-left: 10%;

    background-color: #7D9870;
}
.btn-outline-secondary:hover {
    background-color: #94ce7a;
}

.drawer {
    display: none;
    position: fixed;
    width: 25%;
    height: 25vh;
}

ul a {
    color: #22351B!important;
    text-decoration: none !important;
}
a:visited {
    color: initial;
}


@media only screen and (max-width : 414px) {
    .navbar {
        display: none!important;
    }
    .drawer{
        display: block;
        position: fixed;
    }
    .drawer input {
        width: 25%;
        height: 50px;
        position: inherit;
        opacity: 0;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 3;
        cursor: pointer;
    }
    .drawer__name {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background: #7D9870;
        box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.637), 0 8.5px 25px 0 rgba(0, 0, 0, 0.19);

    }
    .drawer__content {
        background-color: rgb(0, 128, 0);
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        pointer-events: none;
        list-style: none;
        transition: padding 0.2s;
        font-size: 3vh;
    }
    .drawer input:checked ~ .drawer__content {
        height: 100%;
        opacity: 1;
        pointer-events: initial;
        padding: 10px 0;
    }
    .drawer__content li {
        padding: 10px;
        cursor: pointer;
    }
    .drawer__content li:hover {
        color: rebeccapurple;
        text-decoration: underline;
    }
}
