.top-search {
    background-image: url("https://images.unsplash.com/photo-1519227355453-8f982e425321?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2978&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.search-box {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;

}

form {
    display: flex;
    flex-direction: row;
}


.search-bar[type=text] {
    font-size: 2vh;
    border: none;
    margin-top: 0;
    margin-right: 0;
    border-radius: 25px;
    width: 25vw;
    height: 7vh;
}

.search-button {
    margin-left: 20px;
    background: #30CB00;
    font-size: 2vh;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 10vw;
    height: 7vh;
}

.top-search .search-container .search-bar:hover {
    background: rgb(242, 255, 239);
}

.top-search .search-container .search-button:hover {
    background: rgb(46, 136, 21);
}


@media only screen and (max-width : 414px) {
    form {
        width: 100vw;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form input {
        width: 80vw!important;
    }
    form button {
        width: 80vw!important;
    }
}